<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Задача №2</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <div class="main-container">
        <form method="post">
            <p>Введите числа для преобразования:</p>
            <input type="text" name="numbers">
            <input type="submit" class="btn btn-outline-primary btn-sm">
        </form>
        <table>
            <tr>
                <th>Исходное число</th>
                <th>Обратное число</th>
            </tr>
            {% for nums in reversed_numbers %}
            <tr>
                <td>{{ nums[0] }}</td>
                <td>{{ nums[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </body>
</html>
